<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd
    	http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


		<context:component-scan
		base-package="org.antwalk"></context:component-scan>
		
		<mvc:annotation-driven></mvc:annotation-driven>
		
		<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	       	<property name="prefix" value="/view/"/>
	       	<property name="suffix" value=".jsp"/>
        </bean>
        
		
		
		<context:property-placeholder location="classpath:database.properties"/>
		
		<tx:annotation-driven transaction-manager="hibernateTransactionManager"/>
		
		<bean id="dataSource"
			class="org.springframework.jdbc.datasource.DriverManagerDataSource">
			<property name="driverClassName" value="${database.driver}" />
			<property name="url" value="${database.url}" />
			<property name="username" value="${database.user}" />
			<property name="password" value="${database.password}" />
		</bean>
		
		<bean
			class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
			id="sessionFactory">
			<property name="dataSource" ref="dataSource"></property>
			<property name="annotatedClasses">
				<list>
					<value>org.antwalk.model.Blood</value>
				</list>
			</property>
			<property name="hibernateProperties">
				<props>
					<prop key="hibernate.dialect">${hibernate.dialect}</prop>
					<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
						<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
				</props>
			</property>
		</bean>
		
		<bean
			class="org.springframework.orm.hibernate5.HibernateTransactionManager"
			id="hibernateTransactionManager">
			<property name="sessionFactory" ref="sessionFactory"></property>
		</bean>
		
		 
		
</beans>